@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    html, body {
        font-family: sans-serif;
        font-size: 14px;
    }
    body {
        background-color: #eaeaea;
    }
</style>

<!-- About Container -->
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
        <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE PROJECT</span></h4>
        <p style="font-size: 15px">As the technology is being developed rapidly nowadays, FPT Co. 
        desires to build the continuing study environment throughout the corporation. It is necessary
        to develop a system, which manages the activity of “Training” for internal training program 
        of the company. This system can be used to manage trainee accounts, manage trainers, manage 
        course categories, manage courses, manage topics, assign topic to course, assign trainer to 
        topic, assign trainee to course.</p>
        <div class="w3-panel w3-leftbar w3-light-grey">
            <p><i><b>This is a system used by HR department. We have four roles in this system, an administrator,
                     training staff, a trainer and trainees.</b></i></p>
        </div>
        <p><strong>Programming language:</strong> ASP.NET MVC.</p>
        <p><strong>Performed by:</strong> Dang An Thanh & Nguyen Thi Hong Dan.</p>
    </div>
</div>