@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Css/home.css")
<div class="jumbotron" id="banner-index">
    <h1>FPT Learning System</h1>
    <p class="lead">
        FPT University is a private university in Vietnam. FPT University is
        a member of FPT Group and has campuses in Hanoi (main), Ho Chi Minh City, Da Nang,
        Can Tho and Quy Nhon (in progress).
    </p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">About us &raquo;</a></p>
</div>
